<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sny.netcoredemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".ClientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ServiceConfig" />
        <activity
            android:name=".ServiceConnect"
            android:label="@string/title_activity_service_connect" />
        <activity android:name=".connect.AdvertisementActivity" />
        <activity android:name=".connect.HotWActivity" />
        <activity android:name=".FireBaseActivity" />
        <activity android:name=".VolleyTest"></activity>
    </application>

</manifest>